.categories-wrapper {
  margin-top: 42px;
  border-top: 1px solid #EDEDED;
  border-bottom: 1px solid #EDEDED;
  padding-top: 20px;
  padding-bottom: 20px;
  @media (max-width: 576px) {
    display: none;
  }
  nav {
    ul {
      display: flex;
      justify-content: space-between;
      gap: 100px;
      @media (max-width: 1440px) {
        gap: 50px;
      }
      @media (max-width: 1168px) {
        gap: 0;
      }
      @media (max-width: 768px) {
        gap: 0;
      }

      li {
        cursor: pointer;
        background-color: #F3F9FB;;
        font-size: 18px;
        padding: 14px 30px;
        border-radius: 50px;
        text-transform: capitalize;
        transition: 0.2s;
        &:hover {
          background-color: #008ECC;
        }
        @media (max-width: 1168px) {
          font-size: 14px;
        }

        @media (max-width: 768px) {
          font-size: 10px;
          white-space: nowrap;
        }
      }
    }
  }
}