.products-list {
  margin: 30px auto;
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(min-content, max-content));
  grid-gap: 2.5rem 1.5rem;

  .product-wrapper {
    cursor: pointer;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding-inline: 20px;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding-top: 30px;
    img {
      width: 200px;
      height: 240px;
    }
    span {
      color: rgba(0, 0, 0, 0.7);
      font-size: 18px;
      text-transform: capitalize;
    }
    h2 {
      font-size: 20px;
    }
    h3 {
      padding-bottom: 16px;
    }
  }
}

